// colors
$primary: #081B2F;
$secondary: #F89D36;
$primary-text: #5C5C5C;
$secondary-text: #42BEB2;

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.75rem;
}

p {
  font-size: 1.125rem;
}
