// colors
$primary: #081B2F;
$secondary: #F89D36;
$primary-text: #5C5C5C;
$secondary-text: #42BEB2;

html {
  font-size: 16px;
  background-color: $primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.75rem;
}

p {
  font-size: 1.125rem;
}

//swiper navigation
.swiper-button-next,
.swiper-button-prev {
	border-radius: 50%;
  color: transparent;
  height: 1.875rem;
  outline: none;
  width: 1.875rem;
  border: 2px solid #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  border-radius: 50%;
  color: #fff;
  font-size: 0.938rem;
  font-weight: 900;
  position: relative;
}

.swiper-button-prev::after {
  right: 1px;
}

.swiper-button-next::after {
  left: 1px;
}

// animations
@keyframes loading-pulse-effect {
	0% {
		transform: scale(1.1);
    opacity: 0.8;
	}

	70% {
		transform: scale(1.3);
    opacity: 1;
	}

	100% {
		transform: scale(1.1);
    opacity: 0.8;
	}
}


body {
  &.bm-overlay {
    .bm-menu {
      width: 100% !important;
    }
  }
}